.transaction-form-container{
    width: 100%;
}

.transaction-form{
    display: flex;
    flex-direction: column;
    width: 100%;
    padding-bottom: 10px;
    font: normal 18px sans-serif;
    /* font-weight: bolder; */
    /* align-items: center; */
    /* border: springgreen solid;  */
}

.transaction-form-header{
    border-bottom: rgb(189, 189, 189) solid thin;
    font-family: sans-serif;
    font-weight: bold;
    color: rgb(133, 133, 134);
    font-size: 25px;
}


.form-item{
    display: flex;
    flex-direction: column;
    width: 100%;
    align-items: center;
}

.item-label{
    align-self: flex-start;
    margin-bottom: 5px;
    font-family: sans-serif;
    font-weight: 200;
    color: rgb(133, 133, 134);
}
.item-input{
    height: 30px;  
    width: 100%;
    padding: 2px 5px;
    margin-bottom: 15px;
    
    border-radius: 2pt;
    border: rgb(212, 212, 212) solid thin;
    box-sizing: border-box;
}

.item-input-date{
    height: 30px;
    width: 200px;
    padding: 2px 5px;
    margin-bottom: 15px;
    border-radius: 2pt;
    border: rgb(212, 212, 212) solid thin;
    box-sizing: border-box;
    font: normal 16px sans-serif;
    padding: 5px;

    text-align: center;   

    color: rgb(133, 133, 134);

    align-self: flex-start;
}

.transaction-form-submit-btn{
    align-self: center;
    margin: 20px 0px;
    box-sizing: border-box;



    width: 100%;
    border-radius: 3pt;
    display: block;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    font: normal 18px sans-serif;
    font-weight: bolder;
    border: none;
    padding: 10px 12px;
    color: white;
    background-color: #00c4cc;
    /* border: rgba(255, 255, 255, 0.479) solid; */
    cursor: pointer;
    text-align: center;
}

.transaction-form-submit-btn:hover{
    background-color: #0be1e9;

}

.form-toggle{
    display: flex;
    flex-direction: row;
    margin-bottom: 20px;
}

.toggle-income{
    border-radius: 0px; 
    width: 50%;
    display: block;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    font: normal 18px sans-serif;
    font-weight: bolder;
    border: none;
    padding: 10px 12px;
    margin: 0px;
    color: white;
    background-color: rgb(196, 193, 193);
    border: transparent solid;

    cursor: pointer;
    text-align: center;

}


/* .toggle-income:hover{
    border: grey solid;
} */

.toggle-spending{
 
    border-radius: 0px; 
    width: 50%;
    display: block;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    font: normal 18px sans-serif;
    font-weight: bolder;
    border: none;
    padding: 10px 12px;
    margin: 0px;
    color: white;
    background-color: rgb(196, 193, 193);
    border: transparent solid;

    cursor: pointer;
    text-align: center;

}

/* .toggle-spending:hover{
    background-color:  #0be1e9;
    border: grey solid;
} */

.selected{
    background-color:#00c4cc;
} 
/* .selected:hover{
    background-color:  #0be1e9;
    } */





