.graph{
    background-color: white;
    height: 100%;
    width: 100%;
    /* box-shadow: 5px 5px 1px 1px #d0cfcf; */

}

.tooltip{
    position: absolute;
    text-align: center;
    /* z-index: 10;			 */
    width: 120px;					
    /* height: 0px;					 */
    padding: 2px;	
    /* .style("border-width", "2px") */
    /* .style("border-radius", "5px") */
    /* .style("padding", "5px")			 */
    font: 12px sans-serif;		
    background: white;	
    border: black solid 2px;		
    /* border-radius: 8px;			 */
    pointer-events: none;		
}

.line-graph-container{
    width: 700px;
    height: 600px;
    display: flex;
    flex-direction: column;
    border: #d0cfcf solid;
        box-shadow: 5px 5px 1px 1px #d0cfcf;

    
}


.grid{
    color: lightgray;
    /* stroke: lightgrey; */
    stroke-opacity: 0.7;
    shape-rendering: crispEdges;
}



