.graph{
    background-color: white;
    height: 100%;
    width: 100%;
    display: inline-block;
	position: absolute;
	top: 0;
	left: 0;
    /* box-shadow: 5px 5px 1px 1px #d0cfcf; */

}

.tooltip{
    position: absolute;
    text-align: center;
    /* z-index: 10;			 */
    width: 120px;					
    /* height: 0px;					 */
    padding: 2px;	
    /* .style("border-width", "2px") */
    /* .style("border-radius", "5px") */
    /* .style("padding", "5px")			 */
    font: 12px sans-serif;		
    background: white;	
    border: black solid 2px;		
    /* border-radius: 8px;			 */
    pointer-events: none;		
}

.line-graph-container{
    /* width: 700px;
    height: 600px; */
    display: flex;
    flex-direction: column;
    border: rgb(234, 233, 233) solid thin;
    box-shadow: 5px 5px 14px 5px #d0cfcf;
    display: inline-block;
	position: relative;
	width: 100%;
	padding-bottom: 100%; 
	vertical-align: middle; 
	overflow: hidden; 

    
}


.grid{
    color: lightgray;
    /* stroke: lightgrey; */
    stroke-opacity: 0.7;
    shape-rendering: crispEdges;
}



