.nav-bar{
    height: 50px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
    color: black;
    /* background-color: rgb(37, 9, 101); */
    background-color: white;
    border-bottom: rgb(216, 216, 216) solid thin;
  }
.nav-logo{
    height: 40px;
    width: 40px;
    margin-right: 5px;
    margin-top: -5px;
    align-items: center;
}
.logo-container{
    display: flex;
    align-items: center;
    flex-direction: row;
    margin-left: 20px;

}

.logout-btn{
    width: 100px;
    border-radius: 3pt;
    display: block;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    font: normal 18px sans-serif;
    font-weight: bolder;
    border: none;
    padding: 10px 12px;
    margin: 0px;
    color: white;
    background-color: #00c4cc;
    /* border: rgba(146, 145, 145, 0.479) solid; */
    cursor: pointer;
    text-align: center;
}

.logout-btn:hover{
    background-color: #0be1e9;
}


