.nav-bar{
    height: 50px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
    color: white;
    background-color: rgb(37, 9, 101);;
    
}
.nav-logo{
    height: 40px;
    width: 40px;
    margin-right: 5px;
    margin-top: -5px;
    align-items: center;
}
.logo-container{
    display: flex;
    align-items: center;
    flex-direction: row;
    margin-left: 20px;

}

.logout-btn{
    width: 100px;
    border-radius: 4pt;
    display: block;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    font: normal 16px "Haas Grot Text R Web", "Helvetica Neue", Helvetica, Arial, sans-serif;
    border: none;
    padding: 10px 12px;
    margin: 0px;
    color: white;
    background-color: black;
    border: rgba(255, 255, 255, 0.479) solid;
    cursor: pointer;
    text-align: center;
}

.logout-btn:hover{
    background-color: rgb(93, 93, 93);
}


